*{
    margin: 0;
}

body{
    display: grid;
    grid-template-areas: 
    "cab cab cab"
    "sec man man"
    "fot fot fot";
    grid-template-columns: 1fr 8fr 2fr;
    grid-template-rows: auto auto auto;

}

header{ 
    grid-area: cab ;
    background-color: white;
    background-color:#8b5be4 ;
    height: 120px;

}

aside{
    grid-area: sec;
    background-color:white;
    height: auto;



}

main{
    grid-area: man;
    background-color:white;
    height:800px;

}

footer{
    grid-area: fot;
    background-color: white;
    height: 120px;
    background-color:#8b5be4 

}

main img{
    height: 810px;
    position: absolute;
    right: 35%;
    top: 50px;
}
h1{
    position: absolute;
    right:100px;
    top: 190px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pualo{
    position: absolute;
    position: absolute;
    right:100px;
    top: 245px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.paulo{ 
    position: absolute;
    right:100px;
    top: 275px;
    color:rgb(0, 255, 85);
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
}

.cinzeirofoto{
    height: 550px;
    position: relative;
    right:12%;

}

.carrinho{
    height: 75px;
    position: absolute;
    top: 0px;
    right: 30px;

}
.perfil{
    height: 75px;
    position: absolute;
    top: 0px;
    right: 120px;

}
.logo{
    height: 110px;
    position: absolute;
    left: 35%;

}

.bg{
    position: absolute;
    right:100px;
    top: 225px;
    

}