*{
    margin: 0;
}

body{
    display: grid;
    grid-template-areas: 
    "cab cab cab"
    "sec man man"
    "fot fot fot";
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto auto auto;

} 

@media screen and (max-width:800px) {
    body{
    display: grid;
    grid-template-areas: 
    "cab"
    "sec"
    "man"
    "fot";
    grid-template-columns:auto;
    grid-template-rows: auto auto auto auto;
    }
}

header{ 
    grid-area: cab ;
    background-color: white;
    height: 10vh;
    background-color:#8b5be4 ;
    

}

aside{
    grid-area: sec;
    background-color:white;
    height: 80vh;
    width: 20vh;
    background-color: #9C82CB;


}

main{
    grid-area: man;
    background-color:white;
    position: relative;
    height: 80vh;

}

footer{
    grid-area: fot;
    background-color: white;
    height: 10vh;
    background-color:#8b5be4;

}

@font-face {
    font-family: wednesday;
    src: url(Wednesday.ttf);
}

.MH1{
    font-family: 'wednesday';
    font-size: 100px;
    position: absolute;
    left: 40% ;

}
.M1H{
    font-family: 'wednesday';
    font-size: 50px;

}
.Mwc{
    height: 150px;

}
.H1MC{
    font-size: 25px;
}

.logo1{
   height: 150px;
   position: relative;
   left: 35%;
}
.elementomae{
    display: flex;
    flex-direction: row;
    gap: 4%;


}
.card{
    border: 2px purple solid;
    height: 200px;
    width: 200px;
    border-radius: 5px;
}
.card img{
    height: 100px;

}
.not1{
    text-decoration: none;

}
.nosei1{
    color: black;

}