*{
    margin: 0px;

}
@font-face{
    font-family: wednesday;
    src: url(Wednesday.ttf);

}


body{
    display: grid;
    grid-template-areas: 
    "cabe cabe cabe"
    "secu prin prin"
    "roda roda roda";
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 35% 200% 20%;
    
    
}
header{
    grid-area: cabe;
    background-color:crimson;

}
main{
    grid-area: prin;
    background-color: orange;
}

aside{
    grid-area: secu;
    background-color: blueviolet;
}
footer{
    grid-area: roda;
    background-color: lightgreen;

}
.IM1{
    height: 200px;
    position: relative;
    right: 4%;
    bottom: 14%;
}
.PM1{
    position: relative;
    top: 135px;
    font-size: 35px;
    position: relative;
    left:3px;
}
.ML1{
    height: 150px;
    position: absolute;
    left: 1240px;
    bottom: 484px;
}

